<div class="modal is-justify-content-flex-start" id="search-modal">
  <div class="modal-background"></div>
  <div class="modal-content p-3">
    <div class="field search">
      <div class="control has-icons-left has-icons-right">
        <input type="search" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="input is-primary is-medium" />
        <span class="icon has-text-primary is-small p-3 is-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <span class="icon is-small p-3 is-right is-clickable search-reset">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
        </span>
      </div>
    </div>
  </div>  
</div>

<script>
  $(document).ready(function () {

    $('body').on('click', '.search-trigger, #search-modal .modal-background', function (e) {
      if ($(e.currentTarget).hasClass('modal-background')) {
        $('#search-modal').addClass('is-animated');

        $('#search-modal .modal-background').one('animationend', function () {
          $('#search-modal').removeClass('is-animated is-active');
        });

        $('#search-modal').find('input[name="search"]').blur();
        $('#search-modal .live-results').fadeOut(300);
      } else {
        $('#search-modal').addClass('is-active');
        $('#search-modal').find('input[name="search"]').focus();
        $('#search-modal').find('input[name="search"]').trigger('input');
      }

    });

    $('.search-reset').on('click', function () {
      $(this).parent().find('input[name="search"]').val('');
      $(this).parent().find('input[name="search"]').trigger('input');
      $(this).parent().find('input[name="search"]').focus();
      $('#search-modal .live-results').fadeOut(300);
    });

    $('.search input[name="search"]').on('keydown', function (e) {
      if (e.keyCode == 13) {
        let url = $('base').attr('href') + 'index.php?route=product/search&description=true';

        let value = $('.search input[name="search"]').val();

        if (value) {
          url += '&search=' + encodeURIComponent(value);
        }

        location = url;
      }
    });

    $('input[name="search"]').on('input', function () {
      if ($(this).val().length > 0) {
        $(this).parent().find('.search-reset').addClass('shown');
      } else {
        $(this).parent().find('.search-reset').removeClass('shown');
      }
    });

    let liveSearch = null;

    $('.search input[name="search"]').on('input', function () {
    
    $input = $(this);

    if($(this).val().length > 2) {
      clearTimeout(liveSearch);

      liveSearch = setTimeout(function () {
        $.ajax({
          url: 'index.php?route=common/search/live&description=true&search=' + $input.val(),
          dataType: 'html',
          success: function(html) {
            $('#search-modal .live-results').remove();
            $('#search-modal .field.search').after(html);
          },
          error: function (e) {
            console.log(e);
          }
        });
      }, 1000);
    }
  });

});
</script>
