<div class="modal is-justify-content-flex-start" id="search-modal">
  <div class="modal-background"></div>
  <div class="modal-content p-3">
    <div class="field search">
      <div class="control has-icons-left has-icons-right">
        <input type="search" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="input is-primary is-medium" />
        <span class="icon is-small p-3 is-left">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <span class="icon is-small p-3 is-right is-clickable search-reset">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <button class="delete is-large" aria-label="close"></button>
</div>
