# Config and Htaccess Files
/.htaccess
/config.php
/admin/config.php
/php.ini

#compressed
/catalog/compressed/
# Image Cache Files
/image/cache/*
!/image/cache/index.html

# Backup Files
/system/storage/backup/*
!/system/storage/backup/index.html

# System Cache Files
/system/storage/cache/*
!/system/storage/cache/index.html

# Download Files
/system/storage/download/*
!/system/storage/download/index.html

# Log Files
/system/storage/logs/*
!/system/storage/logs/index.html

# Session Files
/system/storage/session/*
!/system/storage/session/index.html

# Upload Files
/system/storage/upload/*
!/system/storage/upload/index.html
