<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ text_subject }}</title>
</head>
<body style="background: #fff; color: #333; font-family: Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 1.5; padding: 0; margin: 0;">
  <div>
    {{ message }}
  </div>
</body>
</html>