<footer>
  <div class="container">
    <a href="https://exopencart.ru" target="_blank">{{ text_project }}</a>|<a href="https://forum.exopencart.ru" target="_blank">{{ text_support }}</a><br />
    </div>
</footer>
</body></html>
