#logo {
  line-height: 0;
}

#menu {
  position: sticky;
  top: -0.5px;
  /* because of chromium bug */
  z-index: 3;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 7%);
}

#menu .navbar-start>.navbar-item:first-child {
  padding-left: 0;
}

#menu .icons-menu {
  line-height: 1;
}

#menu .icons-menu>a {
  padding: 1rem;
  display: block;
  position: relative;
}

#menu .not-logged,
#menu .logged {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  top: 0.8rem;
  right: 0.8rem;
}

#menu .icons-menu a .badge {
  position: absolute;
  line-height: 1rem;
  font-size: 0.8rem;
  padding: 1px 4px;
  min-width: 18px;
  text-align: center;
  border-radius: 9px;
  top: 0.4rem;
  right: 0.4rem;
  transition: all 0.2s ease;
  transform: scale(0);
}

#menu .icons-menu a .badge.shown {
  transform: scale(1);
}

#menu .catalog-trigger {
  justify-content: flex-start;
}

.breadcrumb {
  margin-bottom: 0;
  overflow: hidden;
}

.breadcrumb ul,
.breadcrumb ol {
  flex-wrap: initial;
}

.modal-card {
  box-shadow: 0 5px 16px 0 rgb(0 0 0 / 30%);
  border-radius: 18px;
}

#catalog-modal .modal-content {
  width: 100%;
  max-width: 1344px;
}

.modal-background {
  background-color: rgb(255 255 255 / 75%);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
#stores-modal .modal-card {
  height: 100%;
}
#search-modal .delete,
#catalog-modal .delete {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.search-reset {
  transform: scale(0);
  transition: all 0.2s ease;
}

.search-reset.shown {
  transform: scale(1);
}

.contacts-map {
  overflow: hidden;
  border-radius: 14px;
}

.category-menu {
  border: 1px solid #ededed;
  overflow: hidden;
}

#login-modal .modal-card {
  min-height: 386px;
  border-radius: 18px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
  max-width: 400px;
}

#account-login .login-form {
  max-width: 400px;
}

.grid .description {
  display: none;
}
#product-page #content > .tabs {
    position: sticky;
    top: 59px;
    z-index: 2;
}
.product-card .image a .stock {
  position: absolute;
  left: 0;
  top: 0;
}

.product-card .product-name {
  height: 2.75rem;
  overflow: hidden;
}

.product-card .price {
  position: relative;
}

.product-card .old-price {
  position: absolute;
  top: -1rem;
  display: inline-block;
}

.product-card .old-price:after,
.product-info .old-price:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #f00;
  top: 50%;
}

.product-card .actual-price {
  font-size: 1.5rem !important;
  display: block;
}

.list .product-card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.list .product-card .image {
  width: 30% !important;
}

.list .product-card .caption {
  width: 70%;
  padding-left: 20px;
}

.cart-total .box .is-flex span {
  background: #fff;
  z-index: 1;
}

.cart-total .box>.block:after {
  border-bottom: 1px dotted #ddd;
  content: "";
  display: block;
  width: 100%;
  position: relative;
  top: -8px;
}

.cart-total .box,
#checkout-total {
  position: sticky;
  top: 80px;
}

.cart-total .box>.block:last-child:after {
  content: none;
}

.product-info .tabs,
#product-images {
  position: sticky;
  top: 65px;
  z-index: 2;
}

.product-info .old-price {
  position: absolute;
  left: 0;
  top: -1rem;
}

.sticky-crutch {
  position: relative;
  height: 100%;
  z-index: -1;
}

#product-page .product-images .lSSlideOuter {
  position: sticky;
  top: 65px;
}

.product-card,
.blog-card {
  height: 100%;
}

#notifications {
  position: fixed;
  z-index: 999;
  right: 0.75rem;
  max-width: calc(100% - 1.5rem);
  height: 0;
  overflow: visible;
  top: 0.75rem;
}

#notifications .notification {
  max-width: 400px;
}

.select:not(.is-multiple):not(.is-loading)::after {
  z-index: 1;
}

.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link:not(.is-arrowless)::after {
  border-width: 2px;
}

.image img {
  width: auto;
  max-width: 100%;
}

.heading-list li {
  position: relative;
}

.heading-list li span,
.heading-list li a {
  z-index: 1;
  position: relative;
}

.heading-list li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-top: 1px dotted #ddd;
  bottom: 0.6rem;
  z-index: 0;
}

.field.has-addons .control .button:not([disabled]):focus,
.field.has-addons .control .button:not([disabled]).is-focused,
.field.has-addons .control .button:not([disabled]):active,
.field.has-addons .control .button:not([disabled]).is-active,
.field.has-addons .control .input:not([disabled]):focus,
.field.has-addons .control .input:not([disabled]).is-focused,
.field.has-addons .control .input:not([disabled]):active,
.field.has-addons .control .input:not([disabled]).is-active,
.field.has-addons .control .select select:not([disabled]):focus,
.field.has-addons .control .select select:not([disabled]).is-focused,
.field.has-addons .control .select select:not([disabled]):active,
.field.has-addons .control .select select:not([disabled]).is-active {
  z-index: 1;
}

.score .tag {
  transition: all 0.2s ease;
}

.score .tag:hover,
.score .tag.is-active {
  background: #fc0;
  color: #000;
}

svg {
  max-width: 100%;
  height: auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.lSSlideOuter .lSPager.lSpg>li a {
  background-color: rgb(0 0 0 / 30%);
  height: 10px;
  width: 10px;
  z-index: 1;
  transition: all 0.2s ease;
}

.lSSlideOuter .lSPager.lSpg>li.active a,
.lSSlideOuter .lSPager.lSpg>li:hover a {
  background-color: #0055d4;
  width: 20px;
}

.lg-backdrop {
  background-color: #fff;
}

.lg-toolbar {
  background-color: rgb(0 0 0 / 0%);
}

.lg-sub-html {
  background: #f7f7f7;
  color: #333;
}

.lg-toolbar .lg-icon:hover {
  color: #333;
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: rgb(0 0 0 / 15%);
  border-radius: 10px;
  color: #fff;
}

.is-absolute {
  position: absolute !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.spinner div {
  transform-origin: 20px 20px;
  animation: spinner 1.2s linear infinite;
}

.spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 6px;
  left: 19px;
  width: 2px;
  height: 8px;
  border-radius: 2px;
  background: #0055d4;
}

.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotatedshake {
  3% {
    transform: rotate(15deg);
  }

  6% {
    transform: rotate(-15deg);
  }

  9% {
    transform: rotate(15deg);
  }

  12% {
    transform: rotate(-15deg);
  }

  15% {
    transform: rotate(15deg);
  }

  18% {
    transform: rotate(-15deg);
  }

  21% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#agree-modal .modal-content {
  width: 100%;
  max-width: 1344px;
  padding: 30px;
}

#agree-modal .delete {
  top: 1rem;
  right: 1rem;
}

.basic-captcha img {
  border-radius: 8px;
}

.slider-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

.slideshow0 {
  padding-top: 1rem;
}

.slideshow-item img {
  border-radius: 10px;
}

.telegram svg {
  color: #0088cc;
}

.vk svg {
  color: #0077FF;
}

.youtube svg {
  color: #ff0000;
}

.mobile-contacts {
  position: fixed;
  bottom: 2rem;
  right: -3rem;
  overflow: visible;
  transition: all 0.4s ease;
  z-index: 1;
}

.mobile-contacts.shown {
  transform: translateX(-5rem);
}

.mobile-contacts .mobile-contacts-trigger {
  line-height: 1;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 36px;
  padding: 12px;
  transition: all 0.2s ease;
  animation: rotatedshake 4s cubic-bezier(.36, .07, .19, .97) infinite;
}

.mobile-contacts .mobile-contacts-trigger.shown {
  animation: none;
}

.mobile-contacts-list {
  position: absolute;
  bottom: calc(100% + 5px);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
  border-radius: 32px;
  text-align: center;
  width: 48px;
  transition: all 0.5s ease;
  right: -10rem;
  padding: 5px 0;
}

.mobile-contacts-list.shown {
  transform: translateX(-10rem);
}

.mobile-contacts-list>a {
  display: block;
  width: 36px;
  height: 36px;
  margin: 4px auto;
}

footer .scroll-top-trigger {
  position: fixed;
  width: 36px;
  height: 36px;
  background: rgb(0 0 0 / 40%);
  bottom: -3rem;
  left: calc(50% - 18px);
  border-radius: 24px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.4s ease;
  z-index: 1;
}

footer .scroll-top-trigger.shown {
  transform: translateY(-5rem);
}

.privacy {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 50%);
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hypnotize {
  animation: rotating 2s infinite linear;
}

@media (max-width: 1023px) {
  .container>.columns {
    margin-left: 0;
    margin-right: 0;
  }

  .breadcrumb.py-4 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    overflow: scroll;
  }

  .breadcrumb ul {
    flex-wrap: initial;
  }

  #menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
  }

  #menu.shown {
    top: 0;
  }

  #menu .navbar-menu {
    display: block;
  }

  .icons-menu {
    position: fixed;
    bottom: 0;
    z-index: 3;
    background: content-box;
    left: 0;
    width: 100%;
    justify-content: center !important;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
  }

  .slideshow0 {
    padding-top: 0;
  }

  .slideshow-item img {
    border-radius: 0;
  }

  #product-images {
    top: 0.75rem;
  }

  .footer {
    padding: 3rem 0rem 6rem;
  }

  #filter {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 3;
    display: none;
  }

  #filter.shown {
    display: block;
  }

  #filter .filter-trigger {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
  }

  .mobile-contacts {
    bottom: 5rem;
  }

  footer .scroll-top-trigger.shown {
    transform: translateY(-8rem);
  }

  .mobile-contacts.shown {
    transform: translateX(-4rem);
  }
}

@media (max-width: 768px) {
  #catalog-modal .modal-content {
    top: 0;
    border-radius: 0;
    height: 100%;
    max-height: 100%;
    margin-bottom: 0;
    margin-top: 0 !important;
    padding: 0;
  }

  #search-modal .delete,
  #catalog-modal .delete {
    top: initial;
    right: initial;
    bottom: 1rem;
  }

  #menu .navbar-menu {
    display: block;
  }

  #menu .catalog-trigger {
    margin: 0 !important;
  }

  #menu.shown .catalog-trigger {
    padding-left: 0.75rem !important;
  }

  #cart-modal .modal-card {
    height: 100%;
    max-height: 100%;
  }

  #cart-modal .delete {
    position: fixed;
    top: initial;
    right: 1.2rem;
    bottom: 1.5rem;
    z-index: 1;
  }
  #product-page #content > .tabs {
      top: 0px;
      margin: 0 -0.75rem;
  }
  .product-cards .column,
  .blog-cards .column {
    padding-top: 0;
  }

  .product-info .tabs {
    top: 0.75rem;
  }

  .mobile-menu-trigger.shown {
    transform: rotate(90deg);
  }
}

@media (max-width: 640px) {
  .modal-content {
    max-height: 100%;
  }

  .title.is-1 {
    font-size: 2rem;
  }

  .title.is-2 {
    font-size: 1.8rem;
  }

  .title.is-3 {
    font-size: 1.6rem;
  }

  .title.is-4 {
    font-size: 1.4rem;
  }

  .modal-card {
    max-height: 100%;
    height: 100%;
  }
}
