<div class="tile tile-primary">
  <a href="{{ online }}">
    <div class="tile-heading">{{ heading_title }}</div>
    <div class="tile-body"><i class="fa fa-users"></i>
      <h2 class="pull-right">{{ total }}</h2>
    </div>
  </a>  
</div>
